{{- define "main" -}}

<article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="row">

    <div class="col-12 col-lg-10ish article-style">
      {{ .Content }}
    </div>

  {{ partial "page_footer" . }}
  </div>
    <div class="col-12 col-lg-10ish article-style">
    <script src="https://utteranc.es/client.js"
        repo="juliasilge/juliasilge.com"
        issue-term="title"
        label="comments :speech_balloon:"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    </div>
  </div>
</article>

{{- end -}}
